@model Sic.Apollo.Models.Appointment.View.AppointmentTransaction
@{
    ViewBag.Title = Sic.Apollo.Resources.Resources.TitleForAppointmentNotAvailable;
}
<h2>@Sic.Apollo.Resources.Resources.TitleForAppointmentNotAvailable</h2>
<h3>@Sic.Apollo.Resources.Resources.LegendForAppointmentNotAvailable</h3>

@if(Model!=null && Model.ContactLocationId!=0 && Model.SpecializationId!=0)
{
    <h4>@Sic.Apollo.Resources.Resources.LegendForSuggestChooseAvailableAppointment</h4>
    Html.RenderAction("PersonalAppointment", "Appointment", new { contactLocationId = Model.ContactLocationId, specializationId = Model.SpecializationId });
}