@model IEnumerable<Sic.Apollo.Models.Appointment.View.ProfessionalOfficeAppointment>
@{
    ViewBag.Title = Sic.Apollo.Resources.Resources.LabelForAppointmentsHistorial;
}

<h1>@Sic.Apollo.Resources.Resources.LabelForAppointmentsHistorial</h1>

 @foreach (var item in Model)
 {
    <h2>@item.Description</h2>

    if (item.ProfessionalAppointments.Count() > 0)
    {
        { Html.RenderPartial("ProfessionalAppointmentsHistorialList", item.ProfessionalAppointments.OrderByDescending(p => p.StartDate)); }
    }
    else
    {
        <p>@Sic.Apollo.Resources.Resources.LegendForNoOfficeAppointments</p>
    }
}
