.evolutioneditcontent{
position:relative;
}
.medicalcare_list .evolutioneditcontent
{
    margin-left:-10px;    
}
.evolution_medicine_list{
    margin-top:15px;
    list-style:none;
    margin-left:-35px;
}
.evolution_medicine_list_title{    
    padding-top:9px;
    padding-left:10px;
    font-size:13px;
    color:#a9a2a2;
    height:18px;          
}
.medicalcare_list .evolution_medicine_list{    
    margin-left:-45px;
}
.evolution_medicine_list .medicine
{
    float:left;
    width:230px;
}
.evolution_medicine_list .posology
{
    float:left;
    width:305px;
}
.evolution_medicine_list .quantity
{
    float:left;
    width:65px;
}
.evolution_medicine_list .item{        
    padding-left:10px;    
    font-size:13px;
    color:#a9a2a2;
    height:80px;
    vertical-align:middle;
}
.evolution_medicine_list .itemmore{        
    float:right;
    margin-right:30px;
    font-size:15px;
    color:#338bd5;
    height:20px;
    vertical-align:middle;    
    text-decoration:underline;    
    margin-top: 10px;
}
.evolution_medicine_list .itemmore span        
{
    cursor:pointer;    
}
.box_input_medicine
{  float:left;       
   margin-top:5px;
	width:200px;
	height:50px;
	font-family:'LatoRegular', Arial, sans-serif;
	color:#666;
	color: #5d5f60;
	background-color:#FFF;
	padding:10px;
	font-size:13px;
	outline:none;
	line-height:17px;
	border:0px;
	border:1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
		/*background-image:url(../images/style/bg_select_menu_list.png);*/
	behavior: url(../images/style/border-radius.htc);}
.box_input_quantity
{width:50px; position:relative; float:left;  padding:3px; font-size:13px; margin-left:5px;margin-top:5px;}
.area_text_posology 
{
    float:left;    
    margin-left:5px;
    margin-top:5px;
	width:280px;
	height:50px;
	font-family:'LatoRegular', Arial, sans-serif;
	color:#666;
	color: #5d5f60;
	background-color:#FFF;
	padding:10px;
	font-size:13px;
	outline:none;
	line-height:17px;
	border:0px;
	border:1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
		/*background-image:url(../images/style/bg_select_menu_list.png);*/
	behavior: url(../images/style/border-radius.htc);}	
