.ui-dialog
{
    position: absolute;
   
    width: 300px;
    overflow: hidden;
}
.ui-dialog .ui-dialog-titlebar
{
    width:auto;
    height: 15px;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    padding: 12px 10px 10px 10px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    background-color: #2C83CB;
    border-top: 1px solid #1980d9;
    background: #3f9eee; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5JSIgc3RvcC1jb2xvcj0iIzNmOWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iIzEzNWI5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #3f9eee 9%, #135b99 85%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,#3f9eee), color-stop(85%,#135b99)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3f9eee 9%,#135b99 85%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3f9eee 9%,#135b99 85%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3f9eee 9%,#135b99 85%); /* IE10+ */
    background: linear-gradient(to bottom,  #3f9eee 9%,#135b99 85%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9eee', endColorstr='#135b99',GradientType=0 ); /* IE6-8 */
}
.ui-dialog .ui-dialog-title
{       
}
.ui-dialog .ui-dialog-titlebar-close
{
    width: 20px;
	height: 20px;	
	position: relative;
	top: -3px;	
	right: 5px;
    float:right;
}
.ui-dialog .ui-dialog-titlebar-close span
{
    background: url(../images/style/icon_close_tooltip.png);
    background-repeat:no-repeat;
    width: 20px;
	height: 20px;
    display: block;
    margin: 0px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus
{
    padding: 0;
}
.ui-dialog .ui-dialog-content
{
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
    zoom: 1;
}
.ui-dialog .ui-dialog-buttonpane
{
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset
{
    float: right;
}
.ui-dialog .ui-dialog-buttonpane button
{
    margin: .5em .4em .5em 0;
    cursor: pointer;
}
.ui-dialog .ui-resizable-se
{
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px;
}
.ui-draggable .ui-dialog-titlebar
{
    cursor: move;
}
.dialog_message
{
	width:auto;
	text-align:center;
	font-size:13px;
	color:#2e88d4;
	padding:5px;
}
.dialog_buttons
{width:100%; height:35px; margin:auto; margin-top:20px; margin-bottom:15px; position:relative; float: left;}
.dialog_button
{
	color: #ffffff;
	cursor:pointer;
	min-width:100px;
	height:35px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding:8px;
	font-family:'LatoRegular', Arial, sans-serif;
	font-size:12.5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
    *background-color: #f89406;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border:1px solid;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);


  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	behavior: url(../images/style/border-radius.htc);
}

.dialog_button:hover
{
	 color: #ffffff;
 padding:8px;
 text-decoration:none;
    background-color: #f89406;
  *background-color: #faa732;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f89406), to(#fbb450));
  background-image: -webkit-linear-gradient(top, #f89406, #fbb450);
  background-image: -o-linear-gradient(top, #f89406, #fbb450);
  background-image: linear-gradient(to bottom, #f89406, #fbb450);
  background-image: -moz-linear-gradient(top, #f89406, #fbb450);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border:1px solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff89406', endColorstr='#fffbb450', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}