@charset "UTF-8";
/* CSS Document */


/* busca registra acude */
#box_services
{width:970px;
height:100px;
background-color:#338bd5;
position:relative;
float:left;
}

.sailing_center
{
margin-left: auto;
margin-right: auto;
display: block;
width: 100%;
text-align: center;
}
.center_p1_main
{
margin-left: auto;
margin-right: auto;
width: 80%;
}

.center_p2_main
{
margin-left: auto;
margin-right: auto;
width: 50%;
}
.icons_services
{
width:300px;
height:100px;
background-color:#CCC;
position:relative;
float:left;
margin-left:45px;

background-image:url(../images/style/services.jpg);
background-repeat:no-repeat;}

.services1
{
	width:600px;
	margin:auto;
	height: 40px;
	margin-top:33px;

	position:relative;
float:left;	
}
/* busca registra acude */

/* destacados_home */
#destacado_medico
{
	width: 270px;
	height: 220px;
	position: relative;
	float: left;
}

#blockquote_img
{
	width: 94px;
	display: block;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	background-image:url(../images/style/medico_icon.jpg);
	background-repeat:no-repeat;
	margin-top: 5px;
	background-color: #fff;
	fons-style: italic;
	font-family: Georgia;
	height: 90px;
}

#content_medico_destacado
{
	width: 95%;
	padding: 5px;
}

#destacados_home
{
	width: 665px;
	height: 220px;
	position: relative;
	float: left;
	margin-left: 15px;
}

#contendor_destacado_home
{
	width: 200px;
	height: 190px;
	padding: 6px;
	background-color: #f4f7f7;
	margin: 3px;
	border: 1px solid #d1d3d3;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	behavior: url(../images/style/border-radius.htc);
	position:relative;
	float:left;
}



#contendor_destacado_home .class_img_destacados
{
	width:200px;
	height:138px;
	overflow:hidden;
	margin-bottom:6px;}


#contendor_destacado_home:hover
{
	background-color:#eeefef;
	border: 1px solid #d1d3d3;
	}

#contendor_destacado_home img
{
	margin-bottom:7px;}
	
/* destacados_home */


/* twitter */

#twitter_home
{
	width: 940px;
	margin: 20px 8px 30px 8px;
	height: 70px;
	background-color: #338bd5;
	position: relative;
	float: left;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	behavior: url(../images/style/border-radius.htc);
	background-image: url(../images/style/larry_bird.jpg);
	background-repeat: no-repeat;
}

#twitter_home .tweet1
{
	width: 68%;
	margin-left: 90px;
	position: relative;
	float: left;
	height: auto;
	left: 10;
	margin-top: 20px;
}
	
#twitter_home .tweet2
{
	width: 20%;
	position: relative;
	float: left;
	height: auto;
	margin-top: 25px;
	margin-left:22px;
}	

/* twitter */

#box_text_banner
{
	width: 250px;
	height: 75px;
	position: relative;
	z-index: 10000;
	top: -730px;
	left: 70px;
}