.medication_print
{
    position: relative;
    width:8.27in;
    height:auto;
}
.medication_print .list{    
    list-style:none;    
    position:relative;
}
.medication_print .item{            
    font-size:13px;    
    min-height:20px;
    height:auto;
    vertical-align:middle;
    position:relative;
    display:inline-block;
}
.medication_print .item .q
{
    float:left;
    width:0.8in;
}
.medication_print .item .medication
{
    float:left;
    width:2in;
}
.medication_print .item .posology
{
    float:left;
    width:5in;
}
.medication_print .header
{
    text-align:center;
    color:Black;
    font-size:12px;
    height:14px;        
    width:8.27in;
    position:relative;
}
.medication_print .title
{
    text-align:center;
    font-size:15px;
    font-weight:bold;
    color:Black;    
    height:14px;        
    width:8.27in;
    position:relative;
}
.medication_print .officetitle
{
    margin-top:12px;
}
.medication_print .patient
{
    margin-top:8px;
}
.medication_print .list_specialization
{
    list-style:none;
    position:relative;
    padding: 2px 0px 8px 0px;
}
.print_line_break
    {clear: left;}