@model Sic.Apollo.Models.Appointment.View.CustomerAppointment

@{
    ViewBag.Title = Sic.Apollo.Resources.Resources.LabelForAppointmentReschedule;
}

<h1>@Sic.Apollo.Resources.Resources.LabelForAppointmentReschedule</h1>

@{ Html.RenderAction("PersonalAppointment", "Appointment", new { contactLocationId = Model.ContactLocationId, specializationId = Model.SpecializationId, reschudeleAppointmentTransactionId = Model.AppointmentTransactionId }); }

<div>
    @Html.ActionLink(Sic.Apollo.Resources.Resources.LabelForMyAppointments, "CustomerMyAppointments")
</div>
