@{
    ViewBag.Title = Sic.Apollo.Resources.Resources.LabelForAppointmentRescheduled;
}
<h1>@Sic.Apollo.Resources.Resources.LabelForAppointmentRescheduled</h1>
<table>
    <tr>
        <td>
            <h2>@Sic.Apollo.Resources.Resources.LegendForAppointmentRescheduled</h2>
            <p>@Sic.Apollo.Resources.Resources.LegendForAppointmentBookedContact <b>@ViewBag.PhoneNumber</b></p>
        </td>
        <td>
            @{ Html.RenderAction("ProfessionalCard", "Professional", new { professionalId = ViewBag.ProfessionalId });}
        </td>
    </tr>
</table>