@charset "utf-8";
/* CSS Document */

.center_buttons_edit
{width: 270px; margin: auto}
.box_edit_delete_images
{width:55px; position:relative; top:10px;}

#content_tabs_edit
{
	width: 730px;
	height: auto;
	overflow:visible;
	padding: 10px;
	position: relative;
	float: left;
}
.content_tab1
{
	width:450px;
	height:auto;
	overflow:hidden;
	margin:auto;
	padding-bottom: 20px;
}
	
.input_text_small {
	width: 75px;
	font-family: 'LatoRegular', Arial, sans-serif;
	color: #666;
	height: 15px;
	color: #5d5f60;
	background-color: #FFF;
	padding: 10px;
	font-size: 13px;
	outline: none;
	line-height: 9px;
	border: 0px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	/*background-image:url(../img/style/bg_select_menu_list.png);*/
	behavior: url(../img/style/border-radius.htc);
}	
	
	

		
.content_select_date
{
	width:73px;
	font-family:'LatoRegular', Arial, sans-serif;
	height:30px;
	position:relative;
	float:left;
	margin-left:2px;
	}
	
	.select_date
{
	width:73px;
	font-family:'LatoRegular', Arial, sans-serif;
	height:30px;
	color:#333;
	}
	


input.styled {  } select.styled { position: relative; width: 220px; opacity: 0; filter: alpha(opacity=0); z-index: 5; behavior: url(../border-radius.htc); } .disabled { opacity: 0.5; filter: alpha(opacity=50); }	


.content_tab2
{
	width:615px;
	height:auto;
	overflow:hidden;
	margin:auto;
	padding-bottom: 20px;
}

.add_office
{
	width:575px;
	padding:7px 7px 7px 30px;
	background-color:#f9fafa;
	border:1px solid #d4d4d4;
	font-size:13px;
	
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	margin-top: 3px;
	position:relative;
	float:left;
	margin-bottom: 7px;
	background-image:url(../img/style/icon_add.png);
	background-repeat:no-repeat;
	height:20px;
	color:#6D6E70;
}

.add_office:hover
{ font-weight:bold;}

.add_schedules
{
	width:525px;
	padding:7px 7px 7px 30px;
	background-color:#e9ecee;
	border:1px solid #d4d4d4;
	font-size:13px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	margin-top: 3px;
	margin-left:5px;
	position:relative;
	float:left;
	margin-bottom: 7px;
	background-image:url(../img/style/icon_add.png);
	background-repeat:no-repeat;
	height:20px;
	color:#6D6E70;
}

.add_schedules:hover
{ font-weight:bold;}

.content_office_map
{
	width:605px;
	font-size:13px;
	
	height:auto;
	overflow:hidden;
	margin-top:15px;
}



#icon_location
{
background-image: url(../img/style/icon_location.png); 
width: 15px; 
height: 25px; 
position: relative; 
float: left;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
padding:6px 6px 6px 6px;
text-align:center;
margin-right:4px;
}

.office_map
{
	width:590px;
	padding:7px;
	background-color:#f9fafa;
	
	font-size:13px;
	font-weight:bold;

	height:auto;
	overflow:hidden;
	margin-top:10px;
}

.content_header
{
	position:relative;
	float:left;
	width:590px;
	min-height:40px;
	margin-top: 10px;
	margin-left: 10px;
}
 .text_header_map
 {
	position:relative;
	float:left;
	color:#206fb3;
	font-weight:bold;
	width: 345px;
	margin-right: 14px;
	margin-top: -15px;
}	

 .text_schedules_list
 {
	position:relative;
	float:left;
	color:#5D5B5B;
	width: 320px;
	margin-right: 20px;
}

.schedules_list
{
	position:relative;
	float:left;
	width:550px;
	height:auto;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #FFF;
	border:1px solid #d4d4d4;
	padding:5px;
}

.content_map_images
{
	width:600px;
	border:1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	position:relative;
	float:left;
	margin-top:15px;
	background-color: #f9fafa;
	padding-bottom:10px;
}



.content_map
{
	position:relative;
	border:1px solid #D4D4D4;
	margin-top:10px;
	float:left;
	width:600px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	height:235px;
}

.content_schedules
{
	width:570px;
	position:relative;
	float:left;
	margin-top:15px;
	padding:30px 10px 10px 10px;
}

.bar_opacity
{background-color:#000; color:#FFF; position:relative; width:600px; top:-35px; height:35px; opacity: 0.8; filter: alpha(opacity=80)}


.content_images
{
	width:600px;
	margin:auto;
	height:70px;
	margin-top:10px;
	margin-bottom:10px;
	position:relative;
	float:left;
}

.image_office
{width:55px; height:55px; margin-left:3px; position:relative; float:left; padding: 3px; background-color: #FFF; border:1px solid #d4d4d4;}



.contet_buttons_edit
{width: 100%; margin: auto; height: 70px; position: relative; float: left; margin-top: 7px;}


.buttons_edit
{position:relative; float:left; margin:8px;}


.edit_office_content
{padding:20px; position:relative; float:left; width:auto; height:auto; overflow:hidden;  margin-bottom: 10px;}

.edit_office_content_text
{ position:relative; float:left; margin-right:9px; width:170px; text-align:right; margin-top:9px;
}

.edit_office_content_text_ext
{
	position: relative;
	float: left;
	margin-right: 6px;
	width: 15px;
	text-align: right;
	margin-left:15px;
	margin-top:9px;
}

.edit_office_content_input
{ position:relative; float:left; margin-right:10px; width:220px; margin-bottom:7px;
}

.edit_office_content_input select
{ 
    width: 235px;
    height: 30px;
}

.edit_office_content_input_ext
{ position:relative; float:left; margin-right:6px; width:100px;
}


.content_edit_office_buttons
{margin-top:-15px; position:relative; float:left;}

.content_edit_schedules_buttons
{ position:relative; float:left;}



.content_tab3
{
	width:615px;
	height:auto;
	overflow:hidden;
	margin:auto;
	padding-bottom: 20px;
}

.list_content
{
	width: 590px;
	background-color: #FFF;
	position: relative;
	float: left;
	border: 1px solid #CCC;
	height: auto;
	padding: 10px;
	overflow: hidden;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px
}

.list_content_edit_box
{
	width: 530px;
	background-color: #FFF;
	position: relative;
	float: left;
	border: 1px solid #CCC;
	height: auto;
	padding: 40px;
	overflow: hidden;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px
}

.list_content_text
{width:390px; position:relative; float:left; color:#6d6e70; font-size:12px;}

.list_content_edit
{width:100px; position:relative; float:left; filter: filter: alpha(opacity=85); 
-moz-opacity: .85; 
opacity: .85;}

.list_content_edit:hover
{color:#666;
font-weight:bold;
alpha(opacity=100); 
-moz-opacity: 1; 
opacity: 1;
}

.list_content_delete
{width:100px; position:relative; float:left;alpha(opacity=85); 
-moz-opacity: .85; 
opacity: .85;}

.list_content_delete:hover
{color:#666;
font-weight:bold;
alpha(opacity=100); 
-moz-opacity: 1; 
opacity: 1;
}

.content_edit_schedules
{
	width: 530px;
	height: auto;
	overflow: visible;
	position: relative;
	float: left;
	padding: 10px;
	border-top: 1px solid #ccc;
	margin-top: 8px;
}

.day_select_schedules
{
	width: 95px;
	position: relative;
	float: left;
	margin-right: 5px;
	margin-top: 4px;
}


.section_edit_schedules
{width:530px; position:relative; float:left; margin-top:5px; border-top:1px solid #CCC; padding-top:5px;}

.section_edit_schedules div
{margin:4px;}

.bar_navigation_edit
{
	margin: 0;
	padding: 15px 10px 10px 10px;
	font-size: 12px;
	color: #3c66dc;
	background-color: #006;
	background: #3f9eee; /* Old browsers */
	height: 20px;
	width: 650px;
	border: 1px solid #1980d9;
	/* text-shadow: 1px 1px 3px #000000;*/
	filter: dropshadow(color=#000000, offx=1, offy=1);
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5JSIgc3RvcC1jb2xvcj0iIzNmOWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iIzEzNWI5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #3f9eee 9%, #135b99 85%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,#3f9eee), color-stop(85%,#135b99)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3f9eee 9%,#135b99 85%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3f9eee 9%,#135b99 85%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3f9eee 9%,#135b99 85%); /* IE10+ */
	background: linear-gradient(to bottom,  #3f9eee 9%,#135b99 85%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9eee', endColorstr='#135b99',GradientType=0 ); /* IE6-8 */
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	
}

.nav_edit
{
	width:60px;
	position:relative;
	float:left;
	height:20px;
	font-size:12px;
	color:#FFF;
	padding:0px;	
	text-align:center;
	margin:0px 10px 2px 10px;}
	
.nav_edit a{color:#FFF;}	
	
.nav_edit:hover
{
	
	text-decoration:underline;
}
	
.content_box_edit
{
	height:auto;
	padding:10px;
	width:651px;
	font:11px/16px Tahoma,Arial, Helvetica, sans-serif;
	background-color: #FFF;
-webkit-box-shadow:  1px 1px 7px 0px rgba(0, 0, 0, 0.2);
 box-shadow:  1px 1px 7px 0px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 0px 0px 4px 4px ;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	
}

.label_date_trigger
{    
    width:110px;
    cursor:pointer;
    text-align:center;
}

.label_date_medical_care
{
    float:left;
}

.top_save_button_medical_care
{    
    height: 35px;
margin-left: 110px;
margin-bottom: 15px;
position: relative;
float: left;
}