@{
    ViewBag.Title = "PictureProfile";
}

@*@{Html.RenderPartial("ProfileHeader");}*@

<h2>@Sic.Apollo.Resources.Resources.LabelForProfilePicture</h2>

@{Html.RenderAction("EditProfilePicture","Contact");}

