@model IEnumerable<Sic.Apollo.Models.General.Country>
                      
@{
    ViewBag.Title = Sic.Apollo.Resources.Resources.LabelForCountry;
}

<h2>@Sic.Apollo.Resources.Resources.LabelForChangeCountry</h2>

<ul>
@foreach (var item in Model)
{   
    <li>@Html.ActionLink(System.Globalization.CultureInfo.GetCultureInfo(item.DefaultCulture).NativeName, "SetCulture", new { culture = item.DefaultCulture })</li>
}
</ul>

<div>
    @Html.ActionLink(Sic.Apollo.Resources.Resources.LabelForBack, "Index","Home")
</div>