@{
    ViewBag.Title = Sic.Apollo.Resources.Resources.TitleForExpiredSession;
}

<h2>@Sic.Apollo.Resources.Resources.LegendForExpiredSession</h2>

@Html.ActionLink(Sic.Apollo.Resources.Resources.LabelForGoToMainPage, "Index", "Home")
