<div id="cropImageDialog" style="display:none;">
    <center><img id="cropImage" alt=""/></center>
    <input type="hidden" id="xcrop" />
    <input type="hidden" id="ycrop" />
    <input type="hidden" id="wcrop" />
    <input type="hidden" id="hcrop" />
    <div class="center_save_button">
        <input type="button" class="button_save_orange" value="@Resources.LabelForSave" onclick="saveProfilePicture()" />
        <input type="button" class="button_save_orange" value="@Resources.LabelForCancel" onclick="closeProfilePictureDialog()" />
    </div>    
</div>
