<div id="contentPanelMessage">
    <div id="successPanelMessage" class="success_content_notification message_panel"
        style="display: none">
        <div class="icon_success_notification">
        </div>
        <span id="successMessage"></span>
    </div>
    <div id="errorPanelMessage" class="error_content_notification message_panel" style="display: none">
        <div class="icon_error_notification">
        </div>
        <span id="errorMessage"></span>
    </div>
    <div id="warningPanelMessage" class="warning_content_notification message_panel"
        style="display: none">
        <div class="icon_alert_notification">
        </div>
        <span id="warningMessage"></span>
    </div>
    <div id="informationPanelMessage" class="information_content_notification message_panel"
        style="display: none">
        <div class="icon_information_notification">
        </div>
        <span id="informationMessage"></span>
    </div>
</div>
