@model IEnumerable<Sic.Apollo.Models.IContactLocation>
<div id="box_calendar">
    <!--calendar-->
    <div class="control_move">
        <div class="day_none prevWeekEnable">            
            <a class="prev_calendarLink" href='#'>
                <div id="prev_calendar">
                </div>
            </a>            
        </div>
        <div class="day_none prevWeekDisable">            
            <div id="prev_calendar_enable">
            </div>            
        </div>
        <div class="date_none">
        </div>
        <div class="hours_none">
        </div>
    </div>
    <div class="content_grid">
        <div class="grid_day">            
            <div class="day"><span class="dayName1"></span></div>
            <div class="day"><span class="dayName2"></span></div>
            <div class="day"><span class="dayName3"></span></div>
            <div class="day"><span class="dayName4"></span></div>
            <div class="day"><span class="dayName5"></span></div>
            <div class="day"><span class="dayName6"></span></div>
            <div class="day"><span class="dayName7"></span></div>
        </div>
        <div class="grid_date">            
            <div class="date"><span class="date1"></span></div>
            <div class="date"><span class="date2"></span></div>
            <div class="date"><span class="date3"></span></div>
            <div class="date"><span class="date4"></span></div>
            <div class="date"><span class="date5"></span></div>
            <div class="date"><span class="date6"></span></div>
            <div class="date"><span class="date7"></span></div>            
        </div>
        @foreach (var p in Model)
        {
            <div id="appointment@{ @p.ContactLocationId }" class="appointmentEntries"></div>
        }
    </div>
    <div class="control_move">
        <div class="day_none_rigth nextWeekEnable">
            <a class="next_calendarLink" href='#'>
                <div id="next_calendar">
                </div>
            </a>
        </div>
        <div class="day_none_rigth nextWeekDisable">            
            <div id="next_calendar_enable">
            </div>            
        </div>
        <div class="date_none_right">
        </div>
        
    </div>
    <!--calendar-->    
</div>
<div id="bottom_calendar">
    </div>