<div id="box_header_calendar">
    <div class="control_move2">
        <div class="day_none2 prevWeekEnable">
            <a class="prev_calendarLink" href='#'>
                <div id="prev_calendar">
                </div>
            </a>
        </div>
        @*<div class="day_none2 prevWeekDisable">
            <div id="prev_calendar_enable">
            </div>
        </div>*@
        <div class="date_none2_left">
        </div>
    </div>
    <div id="box_header_calendar_right">
        <div class="grid_day2">
            <div class="day">
                <span class="dayName1"></span>
            </div>
            <div class="day">
                <span class="dayName2"></span>
            </div>
            <div class="day">
                <span class="dayName3"></span>
            </div>
            <div class="day">
                <span class="dayName4"></span>
            </div>
            <div class="day">
                <span class="dayName5"></span>
            </div>
            <div class="day">
                <span class="dayName6"></span>
            </div>
            <div class="day">
                <span class="dayName7"></span>
            </div>
        </div>
        <div class="grid_date2">
            <div class="date">
                <span class="date1"></span>
            </div>
            <div class="date">
                <span class="date2"></span>
            </div>
            <div class="date">
                <span class="date3"></span>
            </div>
            <div class="date">
                <span class="date4"></span>
            </div>
            <div class="date">
                <span class="date5"></span>
            </div>
            <div class="date">
                <span class="date6"></span>
            </div>
            <div class="date">
                <span class="date7"></span>
            </div>
        </div>
    </div>
    <div class="control_move2">
        <div class="day_none_rigth2 nextWeekEnable">
            <a class="next_calendarLink" href='#'>
                <div id="next_calendar">
                </div>
            </a>
        </div>
       @* <div class="day_none_rigth2 nextWeekDisable">            
            <div id="next_calendar_enable">
            </div>            
        </div>*@
        <div class="date_none_right ">
        </div>
    </div>
</div>
