<div id="dialogConfirmation" style="display:none">
<div class="dialog_message">
<span id="dialogMessage"></span></div>
<div class="dialog_buttons">    
    <input id="dialogYesButton" type="button" class="dialog_button" value="@Sic.Apollo.Resources.Resources.LabelForYes" />
    <input id="dialogNoButton" type="button" onclick="closeDialog()" class="dialog_button" value="@Sic.Apollo.Resources.Resources.LabelForNo" />
</div>
</div>
<script>
    function openDialog(message, type, callbackFunctionName) {
        $("#dialogConfirmation").dialog({ autoOpen: false,
            show: "fast",
            height: "auto",
            width: "auto",
            modal: true,
            title: "Confirmación",
            resizable: false,
            close: function () { }
        });
        $("#dialogConfirmation").dialog("open");

        $("#dialogMessage").text(message);
        $("#dialogYesButton").attr("onclick", callbackFunctionName);            
    }
    function closeDialog() {
        $("#dialogConfirmation").dialog("close");
    }
</script>