@model int?

@{ int starIndex = 1; }
@while (starIndex <= 5)
{        
    if (starIndex <= (Model ?? 0))
    {
        <div class="star_full"></div>
    }
    else
    {
        <div class="star_empty"></div>
    }
    starIndex++;
}         