<div id="patientSearchTip" class="tools_tooltip">
    <div class="content_tooltip">
        <div class="search_patient_icon_close_tooltip" onclick="closePatientSearchTip();">
        </div>
        <div class="search_patient_arrow_left">
        </div>
        <div class="info_tooltip">
            @*<div class="buttons_tooltip" onclick="postCreateNewApp();">
            <span class="btn_gray">@Sic.Apollo.Resources.Resources.LabelForCreateNew</span></div>*@
            <div class="info_tooltip_div">
                <strong>Buscar Paciente</strong>
            </div>
            <div class="info_tooltip_div">
                <input id="patientSearch" type="text" class="patient_search_input_text" />
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#patientSearchTrigger").tooltip({ events: { def: "click,dblclick",
            tooltip: "mouseenter" }, onShow: function () {
                $("#patientSearch").val('');
                $("#patientSearch").focus();
            },
            relative: true, offset: [0, -27], position: 'center right', tip: '#patientSearchTip'
        }); 

        $("#patientSearch").autocomplete({ source: '@Url.Action("PatientsAutocomplete", "Patient")',
            minLength: 1,
            open: function () {
                $(this).autocomplete('widget').css('z-index', 100000000);
                return false;
            },
            select: function (event, ui) {
                location.href = "@Url.Action("Epicrisis","Patient")?patientId=" + ui.item.id;                
            }
        });
    }); 

    function closePatientSearchTip(){
        var api = $("#patientSearchTrigger").data("tooltip");        
        api.hide();
        }    
</script>
