<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
  <!--<add name="Context"
        connectionString="Data Source=localhost;Initial Catalog=Apollo;User ID=yn6lib2npnkhUunSoCo4GA==;Password=yn6lib2npnkhUunSoCo4GA=="
        providerName="System.Data.SqlClient"/>    
    <add name="ManagerDb" 
         connectionString="Data Source=localhost;Initial Catalog=Apollo;user Id=yn6lib2npnkhUunSoCo4GA==;password=yn6lib2npnkhUunSoCo4GA==" 
         providerName="System.Data.SqlClient" />-->
    <!--<add name="Context"
        connectionString="Data Source=localhost;Initial Catalog=Apollo;User ID=vUJszvhnolOm5HzgXYY4Zg==;Password=pBrFX+VqVp3NTrOemQd7HA=="
        providerName="System.Data.SqlClient"/>    
    <add name="ManagerDb" 
         connectionString="Data Source=localhost;Initial Catalog=Apollo;User ID=vUJszvhnolOm5HzgXYY4Zg==;Password=pBrFX+VqVp3NTrOemQd7HA=="
         providerName="System.Data.SqlClient" />-->
    <add name="Context"
        connectionString="Data Source=localhost\sqlexpress2012;Initial Catalog=Apollo;User ID=vUJszvhnolOm5HzgXYY4Zg==;Password=pBrFX+VqVp3NTrOemQd7HA=="
        providerName="System.Data.SqlClient"/>
    <add name="ManagerDb"
         connectionString="Data Source=localhost\sqlexpress2012;Initial Catalog=Apollo;user Id=vUJszvhnolOm5HzgXYY4Zg==;password=pBrFX+VqVp3NTrOemQd7HA=="
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ExpiredSessionPage" value="/Account/ExpiredSession"/>
    <add key="AccessDeniedPage" value="/Account/AccessDenied"/>
    <add key="UseMultiCulture" value="false"/>
    <add key="HtmlFileImportVersion" value="1000"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Error/" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Error/ResourceNotFound/" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Microsoft.Web.Samples" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.Web.Samples.ImageSprite" namespace="Microsoft.Web.Samples" tagPrefix="asp" />
      </controls>
    </pages>
    <httpModules>
      <add type="Microsoft.Web.Samples.ImageOptimizationModule" name="Microsoft.Web.Samples.ImageOptimizationModule" />
    </httpModules>
    <caching>
      <outputCache enableOutputCache="false" />     
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Cache-Long-Any" duration="18000" varyByParam="*"/>
          <add name="Cache-Medium-Any" duration="9000" varyByParam="*"/>
          <add name="Cache-Small-Any" duration="600" varyByParam="*"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="Microsoft.Web.Samples.ImageOptimizationModule" name="Microsoft.Web.Samples.ImageOptimizationModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>