<html>
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tbody><tr>
	<td style="padding:20px 11px 40px 11px;background-color:#ffffff">
	<table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#ffffff" bgcolor="#ffffff">
	  <tbody><tr>
	    <td width="700" valign="top">
	      <table width="648" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#ffffff" bgcolor="#ffffff">
		    <tbody><tr><td><img src="[@UrlTopImage]" alt="" width="648" height="122" border="0" style="display:block;margin-right:0px;margin-bottom:0px;margin-left:0px"></td></tr>
	      </tbody></table>
	      <table width="630" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#f1f1f1">
		    <tbody><tr>
			  <td>
				<table width="490" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#f1f1f1">
					<tbody><tr>
						<td width="490" align="left" style="padding:0 0 22px 0">
							<div style="font-family:Lucida Grande, Lucida Sans, Lucida Sans Unicode, Arial, Helvetica, Verdana, sans-serif;color:#333333;font-size:12px;line-height:1.25em">
                            <span style="font-weight:bold">[@Header],</span><br><br>[@Body]</div>
						</td>
					</tr>
				</tbody></table>
			  </td>
		    </tr>
		    <tr><td style="padding-top:101px"><img src="[@UrlBottomImage]" alt="" width="630" height="21" border="0" style="display:block;margin-right:0px;margin-bottom:0px;margin-left:0px"></td></tr>
	      </tbody></table>
	      <table width="490" border="0" cellspacing="0" cellpadding="0" align="center" id="ecxaapl-footer" style="">
		    <tbody><tr><td style="padding:10px 20px 10px 0">
			  <div style="font-family:Geneva, Verdana, Arial, Helvetica, sans-serif;font-size:9px;line-height:1.34em;color:#999999">Derechos reservados - Social Intelligence 2012</div>			  
		    </td></tr>
	      </tbody></table>
		</td>
	  </tr>
	</tbody></table>
	</td>
	</tr>
	</tbody></table>
</body>
</html>