@model Sic.Apollo.Models.Pro.View.Professional
@{ 
    ViewBag.ShowBookOnline = false;
    ViewBag.LinkAvailable = true;
}
<table>
    <tr>    
        <td><img src="/Content/images/markers/number_@{ @Model.MarkerIndex }.png" alt="@Model.FullName" height="37" width="32" /></td>
        <td>
            @{Html.RenderPartial("ProfessionalCard", Model);}
        </td>
        <td>
            @{ Html.RenderAction("ProfessionalOfficeMapSync", "Professional", new { professionals = new List<Sic.Apollo.Models.Pro.View.Professional>() { Model } }); }
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <div id="divdaysofweek" />
        </td>
    </tr>
    <td>
        <div id="@Html.Encode("appointment" + @Model.ContactLocationId)"/>
    </td>
    <tr>
</table>
@{ Html.RenderAction("Search", "Appointment", new { locationsId = Model.ContactLocationId, reschudeleAppointmentTransactionId = ViewBag.ReschudeleAppointmentTransactionId });}
