@{
    ViewBag.Title = Sic.Apollo.Resources.Resources.LabelForAppointmentCanceled;
}
<h1>@Sic.Apollo.Resources.Resources.LabelForAppointmentCanceled</h1>
<table>
    <tr>
        <td>            
            <p>@Sic.Apollo.Resources.Resources.LegendForAppointmentCanceled</p>            
        </td>        
    </tr>
</table>

<div>
    @Html.ActionLink(Sic.Apollo.Resources.Resources.LabelForAppointmentPendingConfirmation, "PendingConfirmToAttention")
</div>