@model Sic.Apollo.Models.Appointment.View.ProfessionalAppointment
<div id="appointmentInfo@{@Model.AppointmentTransactionId}">
    @{ Html.RenderPartial("AppointmentBookItem", Model); }   
</div>
<div id="appointmentForNew@{@Model.StartDate.Ticks.ToString()}">
</div>
